<!DOCTYPE html>
<html>
<head>
	<title>Test reader</title>
	<!--<script type="text/javascript" src="responsivevoice.js"></script>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript">
		var readApp=angular.module('readApp',[]);
		readApp.controller('readControler', function($scope){

			//Voice options
			$scope.voices=["UK English Female","UK English Male","US English Female"];
			$scope.selectedVoice="UK English Female";
			$scope.isPlaying=false;
			$scope.textToRead=null;
			$scope.readOrRestart='READ';
			$scope.disablePauseResume=true;
			$scope.textPlaceHolder="Hey there! Please enter the text you want me to read...";

			//Read function
			$scope.readFunction=function(){
			$scope.readOrRestart='RESTART';
			$scope.isPlaying=true;
			var text=$scope.textToRead;
			responsiveVoice.speak(text, $scope.selectedVoice,{onstart:onStartCallback()});
			//$scope.textToRead=null;
		};
			//Change voice
			$scope.changeVoice=function(){
			responsiveVoice.cancel();
			var text=$scope.textToRead;
			responsiveVoice.speak(text, $scope.voices[$scope.selectedIndex],{onStart:onStartCallback()});
		};
		//Pause
		$scope.pause=function(){
			$scope.isPlaying=false;
			responsiveVoice.pause();
		};
		//Resume
		$scope.resume=function(){
			$scope.isPlaying=true;
			responsiveVoice.resume();
		};
		//Callbacks
		var onStartCallback=function(){
			$scope.disablePauseResume=false;
		};
		/*var onEndCallback=function(){
			$scope.disablePauseResume=true;
			$scope.textToRead="I'm done!! Please enter next content here...";
		}*/
	}
	)

	</script>
</head>
<body ng-app="readApp">
<div ng-controller="readControler" style="text-align: center;">
<div class="col-md-8 col-md-offset-2">
<h1 style="font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif">Responsive Voice Text-To-Speech</h1>
<textarea id="content" class="form-control" rows="15" cols="40" style="margin-bottom: 20px" placeholder="Hey there! Please enter the text you want me to read..." ng-change="contentReady()" ng-model="textToRead"></textarea>
</div>
<div class="col-md-12">
<button ng-click="readFunction()" class="btn btn-primary" style="margin-bottom: 20px" ng-model="readOrRestart" ng-disabled="textToRead==null">{{readOrRestart}}</button>
<div style="margin-bottom: 20px">
<button ng-click="pause()" ng-disabled="!isPlaying || disablePauseResume" class="btn btn-danger">PAUSE</button>
<button ng-click="resume()" ng-disabled="isPlaying ||  disablePauseResume" class="btn btn-success">PLAY</button>
</div>
</div>
<div class="col-md-4 col-md-offset-4">
	<select ng-model="selectedVoice" class="form-control">
		<option ng-repeat="option in voices">{{option}}</option>
	</select>
</div>
</div>
</body>
</html>
