<!DOCTYPE html>
<html>
<head>
	<title>Test reader</title>
	<!--<script type="text/javascript" src="responsivevoice.js"></script>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript">
		var readApp=angular.module('readApp',[]);
		readApp.controller('readControler', function($scope){

			//Voice options
			$scope.voices=["UK English Female","UK English Male","US English Female"];
			$scope.selectedVoice="UK English Female";

			//Read function
			$scope.readFunction=function(){
			var text=document.getElementById('content').value;
			responsiveVoice.speak(text, $scope.selectedVoice);
		};
			//Change voice
			$scope.changeVoice=function(){
			responsiveVoice.cancel();
			var text=document.getElementById('content').value;
			responsiveVoice.speak(text, $scope.voices[$scope.selectedIndex]);
		};
	}
	)

	</script>
	<!-- <script type="text/javascript">
		var readOut=function(){
			var text=document.getElementById('content').value;
			responsiveVoice.speak(text, "US English Female");
		}
	</script> -->
</head>
<body ng-app="readApp">
<div ng-controller="readControler" style="text-align: center;">
<div>
	<select  ng-change="changeVoice()" ng-model="selectedVoice">
		<option ng-repeat="option in voices">{{option}}</option>
	</select>
</div>
<div class="col-md-12">
<h1 style="font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif">Responsive Voice Text-To-Speech</h1>
<textarea id="content" class="form-control" rows="5" cols="40" style="margin-bottom: 20px"></textarea>
</div>
<br/>
<br/>
<br/>
<button ng-click="readFunction()" class="btn btn-primary">Read</button>
</div>
</body>
</html>